if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF49ylagY9iJ9RP334bagEtU02cEHMhkk="
fi

if [ ! -f .devenv-root ]; then
  printf %s "$PWD" > .devenv-root
fi

watch_file .devenv-root
use flake . --override-input devenv-root "file+file://$PWD/.devenv-root" --impure --accept-flake-config
